* {

    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #ddd;
    font-size: 1.2em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.page {
    background-color: #fff;
    margin: 20px 10% 20px 10%;
    box-shadow: 0 2px 5px #ddd;
    border-radius: 10px;
    display: block;
    min-height: 90vh;
    padding: 20px;
}

table {
    width: 100%;
    display: table;
}

tr {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0;
    height: 2.2em;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr th {
    width: 33%;
}

tr td {
    width: 33%;
    text-align: center;
}

.actions {
    display: grid;
    grid-template-columns: 105px 105px;
    justify-content: center;
}

button {
    width: 100px;
    height: 32px;
    color: white;
    border-radius: 13px;
    border-width: 0;
    font-size: 19.2px;
}

.button {
    border-radius: 13px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.edit {
    background-color: rgb(43, 142, 248);
}

.new {
    background-color: rgb(1, 170, 1);
    text-align: center;
}

.delete {
    background-color: rgb(202, 0, 0);
}

.edit:hover {
    background-color: rgb(37, 112, 192);
}

.delete:hover {
    background-color: rgb(161, 1, 1);
}

.new:hover {
    background-color: green;
}

.nav form {
    display: flex;
    align-items: center;
}

.nav form button {
    color: #444;
    background-color: rgba(0, 0, 0, 0.0);
    width: auto;
}

.search {
    background-color: #eee;
    border: 1px solid;
    height: 2em;
    border-radius: 30px;
    padding-left: 10px;
}


.nav {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    cursor: pointer;
}

.alert-box {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}  

.card {
    z-index: 2;
    min-width: 25vmax;
    min-height: 20vh;
    background-color: #fafafa;
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.card .title{
    font-size: 25px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.card .content {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card .actions {
    padding: 10px;
    display: flex;
    justify-content: end;
}

.btn-cancel {
    background-color: #aaa;
    margin-right: 10px;
}

