<!DOCTYPE html>
<html lang="es">
  <title>{% block title %}{% endblock title %}</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css')}}"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <div class="page">{% block content %}{% endblock content %}</div>
</html>
