<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}" />
{% extends "base.html" %} {% block title %}Form{% endblock title %} {% block
content %}
<form method="post">
  <h1>Historia clinica en fisioterapia</h1>
  <div class="datos">
    <div class="space"> </div>
    <div class="space">
      {% if registro.id %}
      <input type="text" name="id" value={{registro.id}} hidden>
      {% endif %}
    </div>
    <div class="input dato fecha">
      <label for="fecha">Fecha</label>
      <input 
        autocomplete: "off"
        type="date" 
        value="{{registro.datos_fecha}}"
        class="form-control" 
        id="fecha" 
        name="datos_fecha"
        required 
      />
    </div>
    <div class="input nombre">
      <label for="nombre">Nombre</label>
      <input
        autocomplete="off"
        type="text"
        name="datos_nombre"
        id="nombre"
        value="{{registro.datos_nombre}}"
        required
      />
    </div>
    <div class="input sexo">
      <label for="sexo">Sexo</label>
      <input
        autocomplete="off"
        type="text"
        name="datos_sexo"
        id="sexo"
        value="{{registro.datos_sexo}}"
      />
    </div>
    <div class="input edad">
      <label for="edad">Edad</label>
      <input
        autocomplete="off"
        type="number"
        name="datos_edad"
        id="edad"
        value="{{registro.datos_edad}}"
      />
    </div>
    <div class="input tel">
      <label for="telefono">Telefono</label>
      <input
        autocomplete="off"
        type="number"
        name="datos_telefono"
        id="telefono"
        value="{{registro.datos_telefono}}"
      />
    </div>
    <div class="input ocupacion">
      <label for="ocupacion">Ocupacion</label>
      <input
        autocomplete="off"
        type="text"
        name="datos_ocupacion"
        id="ocupacion"
        value="{{registro.datos_ocupacion}}"
      />
    </div>
    <div class="input estado">
      <label for="estado">Estado civil</label>
      <input
        autocomplete="off"
        type="text"
        name="datos_estado"
        id="estado"
        value="{{registro.datos_estado}}"
      />
    </div>
    <div class="input nacimiento">
      <label for="nacimiento">Fecha de nacimiento</label>
      <input
        autocomplete="off"
        type="text"
        name="datos_nacimiento"
        id="nacimiento"
        value="{{registro.datos_nacimiento}}"
      />
    </div>
  </div>
  <h2>Antecedentes Personales No Patologicos</h2>
  <div class="apnp">
    <div class="input tabaquismo">
      <label for="tabaquismo">Tabaquismo</label>
      <textarea type="text" name="apnp_tabaquismo" id="tabaquismo"
      >{{registro.apnp_tabaquismo}}</textarea>
    </div>
    <div class="input etilismo">
      <label for="Etilismo">Etilismo</label>
      <textarea type="text" name="apnp_etilismo" id="Etilismo"
      >{{registro.apnp_etilismo}}</textarea>
    </div>
    <div class="input act_fis">
      <label for="act_fis">Actividad Fisica</label>
      <textarea type="text" name="apnp_actividad" id="act_fis"
      >{{registro.apnp_actividad}}</textarea>
    </div>
    <div class="input">
      <label for="accesibilidad">Accesibilidad</label>
      <textarea type="text" name="apnp_accesibilidad" id="accesibilidad"
      >{{registro.apnp_accesibilidad}}</textarea>
    </div>
    <div class="input">
      <label for="pasatiempos">Pasatiempos</label>
      <textarea type="text" name="apnp_pasatiempos" id="pasatiempos"
      >{{registro.apnp_pasatiempos}}</textarea>
    </div>
    <div class="input">
      <label for="apnp_otros">Otros</label>
      <textarea type="text" name="apnp_otros" id="apnp_otros"
      >{{registro.apnp_otros}}</textarea>
    </div>
  </div>
  <h2>Antecedentes Personales Patologicos</h2>
  <div class="app">
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="dbt"
          name="app_dbt_check"
          {% if registro.app_dbt_check %}
          checked
          {% endif %}
        />
        <label for="dbt">DBT</label>
      </div>
      <textarea 
        name="app_dbt_text" 
        id="dbt_text" 
        {% if not registro.app_dbt_check %}
        hidden
        {% endif %}
      >{{registro.app_dbt_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="hta"
          name="app_hta_check"
          {% if registro.app_hta_check %}
          checked
          {% endif %}
        />
        <label for="hta">HTA</label>
      </div>
      <textarea 
        name="app_hta_text" 
        id="hta_text" 
        {% if not registro.app_hta_check %}
        hidden
        {% endif %}
      >{{registro.app_hta_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cancer"
          name="app_cancer_check"
          {% if registro.app_cancer_check %}
          checked
          {% endif %}
        />
        <label for="cancer">Cancer</label>
      </div>
      <textarea 
        name="app_cancer_text" 
        id="cancer_text" 
        {% if not registro.app_cancer_check %}
        hidden
        {% endif %}
      >{{registro.app_cancer_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="transf"
          name="app_transf_check"
          {% if registro.app_transf_check%}
          checked
          {% endif %}
        />
        <label for="transf">Transf.</label>
      </div>
      <textarea
        name="app_transf_text"
        id="transf_text"
        {% if not registro.app_transf_check %}
        hidden
        {% endif %}
      >{{registro.app_transf_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cpt"
          name="app_cpt_check"
          {% if registro.app_cpt_check %}
          checked
          {% endif %}
        />
        <label for="cpt">CPT</label>
      </div>
      <textarea
        name="app_cpt_text" 
        id="cpt_text" 
        {% if not registro.app_cpt_check %}
        hidden
        {% endif %}
        >{{registro.app_cpt_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="alergia"
          name="app_alergia_check"
          {% if registro.app_alergia_check %}
          checked
          {% endif %}
        />
        <label for="alergia">Alergia</label>
      </div>
      <textarea 
        name="app_alergia_text" 
        id="alergia_text" 
        {% if not registro.app_alergia_check %}
        hidden
        {% endif %}
      >{{registro.app_alergia_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="enfr"
          name="app_enfr_check"
          {% if registro.app_enfr_check %}
          checked
          {% endif %}
        />
        <label for="enfr">ENF.R.</label>
      </div>
      <textarea 
        name="app_enfr_text" 
        id="enfr_text" 
        {% if not registro.app_enfr_check %}
        hidden
        {% endif %}
      >{{registro.app_enfr_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="fx"
          name="app_fx_check"
          {% if registro.app_fx_check %}
          checked
          {% endif %}
        />
        <label for="fx">FX.</label>
      </div>
      <textarea 
        name="app_fx_text" 
        id="fx_text" 
        {% if not registro.app_fx_check %}
        hidden
        {% endif %}
        >{{registro.app_fx_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cx"
          name="app_cx_check"
          {% if registro.app_cx_check %}
          checked
          {% endif %}
        />
        <label for="cx">CX.</label>
      </div>
      <textarea 
        name="app_cx_text" 
        id="cx_text" 
        {% if not registro.app_sv_check %}
        hidden
        {% endif %}
        >{{registro.app_cx_text}}</textarea>
    </div>
    <div class="check change">
      <div class="checkbox">
        <input
          type="checkbox"
          id="sv"
          name="app_sv_check"
          {% if registro.app_sv_check %}
          checked
          {% endif %}
        />
        <label for="sv">S.V.</label>
      </div>
      <textarea 
        name="app_sv_text" 
        id="sv_text" 
        {% if not registro.app_sv_check %}
        hidden
        {% endif %}
        >{{registro.app_sv_text}}</textarea>
    </div>
  </div>
  <h2>DX. En rehabilitacion</h2>
  <div class="rehabilitacion">
    <h3>Neurologico</h3>
    <div class="neuro">
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="neuro_reflejos_check"
            id="reflejos"
            {% if registro.neuro_reflejos_check %}
            checked
            {% endif %}
          />
          <label for="reflejos">Reflejos</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="neuro_sensibilidad_check"
            id="sensibilidad"
            {% if registro.neuro_sensibilidad_check %}
            checked
            {% endif %}
          />
          <label for="sensibilidad">Sensibilidad</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="neuro_lenguaje_check"
            id="lenguaje"
            {% if registro.neuro_lenguaje_check %}
            checked
            {% endif %}
          />
          <label for="lenguaje">Lenguaje</label>
        </div>
      </div>
      <div class="check change">
        <div class="checkbox">
          <input
            type="checkbox"
            name="neuro_otros_check"
            id="n_otros"
            {% if registro.neuro_otros_check %}
            checked
            {% endif %}
          />
          <label for="neuro_otros">Otros</label>
        </div>
        <textarea 
          name="neuro_otros_text" 
          id="neuro_otros" 
          {% if not registro.neuro_otros_check %}
          hidden
          {% endif %}
          >{{registro.neuro_otros_text}}</textarea>
      </div>
    </div>
    <h3>Contractura muscular</h3>
    <div class="contractura">
      <label for="contractura">Sitio</label>
      <input
        autocomplete="off"
        type="text"
        name="contractura_sitio"
        id="contractura"
        value="{{registro.contractura_sitio}}"
      />
    </div>
    <h3>Marcha</h3>
    <div class="marcha">
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_libre_check"
            id="libre"
            {% if registro.marcha_libre_check %}
            checked
            {% endif %}
          />
          <label for="libre">Libre</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_claudicante_check"
            id="claudicante"
            {% if registro.marcha_claudicante_check %}
            checked
            {% endif %}
          />
          <label for="claudicante">Claudicante</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_ayuda_check"
            id="ayuda"
            {% if registro.marcha_ayuda_check %}
            checked
            {% endif %}
          />
          <label for="ayuda">Con ayuda</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_espastica_check"
            id="espastica"
            {% if registro.marcha_espastica_check %}
            checked
            {% endif %}
          />
          <label for="espastica">Espastica</label>
        </div>
      </div>
      <div class="check">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_ataxica_check"
            id="ataxica"
            {% if registro.marcha_ataxica_check %}
            checked
            {% endif %}
          />
          <label for="ataxica">Ataxica</label>
        </div>
      </div>
      <div class="check change">
        <div class="checkbox">
          <input
            type="checkbox"
            name="marcha_otro_check"
            id="m_otro"
            {% if registro.marcha_otro_check %}
            checked
            {% endif %}
          />
          <label for="m_otro">Otro</label>
        </div>
        <textarea 
          name="marcha_otro_text" 
          id="marcha_otro" 
          {% if not registro.marcha_otro_check %}
          hidden
          {% endif %}
          >{{registro.marcha_otro_text}}</textarea>
      </div>
    </div>
    <h3>Traslados</h3>
    <div class="traslados">
      <h4>Val. Inicial</h4>
      <div class="vi">
        <div class="check">
          <input
            type="checkbox"
            name="vi_independiente_check"
            id="vi_independiente"
            {% if registro.vi_independiente_check %}
            checked
            {% endif %}
          />
          <label for="vi_independiente">Independiente</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vi_ayuda_check"
            id="vi_ayuda"
            {% if registro.vi_ayuda_check %}
            checked
            {% endif %}
          />
          <label for="vi_ayuda">Con ayuda</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vi_silla_check"
            id="vi_silla"
            {% if registro.vi_silla_check %}
            checked
            {% endif %}
          />
          <label for="vi_silla">Silla de ruedas</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vi_camilla_check"
            id="vi_camilla"
            {% if registro.vi_camilla_check %}
            checked
            {% endif %}
          />
          <label for="vi_camilla">Camilla</label>
        </div>
      </div>
      <h4>Val. Final</h4>
      <div class="vf">
        <div class="check">
          <input
            type="checkbox"
            name="vf_independiente_check"
            id="vf_independiente"
            {% if registro.vf_independiente_check %}
            checked
            {% endif %}
          />
          <label for="vf_independiente">Independiente</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vf_ayuda_check"
            id="vf_ayuda"
            {% if registro.vf_ayuda_check %}
            checked
            {% endif %}
          />
          <label for="vf_ayuda">Con ayuda</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vf_silla_check"
            id="vf_silla"
            {% if registro.vf_silla_check %}
            checked
            {% endif %}
          />
          <label for="vf_silla">Silla de ruedas</label>
        </div>
        <div class="check">
          <input
            type="checkbox"
            name="vf_camilla_check"
            id="vf_camilla"
            {% if registro.vf_camilla_check %}
            checked
            {% endif %}
          />
          <label for="vf_camilla">Camilla</label>
        </div>
      </div>
    </div>
    <h3>Dolor</h3>
    <div class="dolor">
      <div class="input">
        <label for="d_sitio">Sitio</label>
        <textarea name="dolor_sitio" id="d_sitio">{{registro.dolor_sitio}}</textarea>
      </div>
      <div class="input">
        <label for="irradiacion">Irradiacion</label>
        <textarea name="dolor_irradiacion" id="irradiacion"
        >{{registro.dolor_irradiacion}}</textarea>
      </div>
      <div class="input">
        <label for="inicial">Inicial</label>
        <textarea name="dolor_inicial" id="inicial">{{registro.dolor_inicial}}</textarea>
      </div>
      <div class="input">
        <label for="final">Final</label>
        <textarea name="dolor_final" id="final">{{registro.dolor_final}}</textarea>
      </div>
      <div class="input">
        <label for="d_observaciones">Observaciones</label>
        <textarea name="dolor_observaciones" id="dolor_observaciones"
        >{{registro.dolor_observaciones}}</textarea>
      </div>
      <img src="{{url_for('static',filename='assets/img.png')}}" />
    </div>
  </div>
  <div class="ultimos">
    <h3>Antecedentes en fisioterapia</h3>
    <textarea name="antecedentes" id="antecedentes">{{registro.antecedentes}}</textarea>
    <h3>Motivo de la consulta</h3>
    <textarea name="motivo" id="motivo">{{registro.motivo}}</textarea>
    <h3>Resumen del relato del paciente</h3>
    <textarea name="resumen" id="resumen">{{registro.resumen}}</textarea>
    <h3>Diagnostico fisioterapeutico</h3>
    <textarea name="diagnostico" id="diagnostico">{{registro.diagnostico}}</textarea>
    <h3>Observaciones</h3>
    <textarea name="observaciones" id="observaciones">{{registro.observaciones}}</textarea>
    <h3>Plan de tratamiento</h3>
    <textarea name="plan" id="plan">{{registro.plan}}</textarea>
    <h3>Apendices</h3>
    <textarea name="apendices" id="apendices">{{registro.apendices}}</textarea>
  </div>
  <div class="acciones">
    <a href="{{url_for('reg.home')}}">Cancelar</a>
    <button type="submit">Guardar</button>
  </div>
</form>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock content %}
