<link rel="stylesheet" href="{{url_for('static', filename='form.css')}}" />
{% extends "base.html" %} {% block title %}Form{% endblock title %} {% block
content %}
<form method="post">
  <h2>Historia clinica en fisioterapia</h2>
  <div class="datos">
    <div class="input dato fecha">
      <label for="fecha">Fecha</label>
      <input autocomplete: off type="date" value="{{registro.fecha}}"
      pattern="\d{4}-\d{2}-\d{4}" class="form-control" id="fecha" name="fecha"
      required />
    </div>
    <div class="input nombre">
      <label for="nombre">Nombre</label>
      <input
        autocomplete="off"
        type="text"
        name="nombre"
        id="nombre"
        value="{{registro.nombre}}"
      />
    </div>
    <div class="input sexo">
      <label for="sexo">Sexo</label>
      <input
        autocomplete="off"
        type="text"
        name="sexo"
        id="sexo"
        value="{{registro.sexo}}"
      />
    </div>
    <div class="input edad">
      <label for="edad">Edad</label>
      <input
        autocomplete="off"
        type="number"
        name="edad"
        id="edad"
        value="{{registro.edad}}"
      />
    </div>
    <div class="input tel">
      <label for="telefono">Telefono</label>
      <input
        autocomplete="off"
        type="number"
        name="telefono"
        id="telefono"
        value="{{registro.telefono}}"
      />
    </div>
    <div class="input ocupacion">
      <label for="ocupacion">Ocupacion</label>
      <input
        autocomplete="off"
        type="text"
        name="ocupacion"
        id="ocupacion"
        value="{{registro.ocupacion}}"
      />
    </div>
    <div class="input estado">
      <label for="estado">Estado civil</label>
      <input
        autocomplete="off"
        type="text"
        name="estado"
        id="estado"
        value="{{registro.estadoC}}"
      />
    </div>
    <div class="input nacimiento">
      <label for="nacimiento">Fecha de nacimiento</label>
      <input
        autocomplete="off"
        type="text"
        name="nacimiento"
        id="nacimiento"
        value="{{registro.nacimiento}}"
      />
    </div>
  </div>
  <h3>Antecedentes Personales No Patologicos</h3>
  <div class="apnp">
    <div class="input tabaquismo">
      <label for="tabaquismo">Tabaquismo</label>
      <textarea type="text" name="tabaquismo" id="tabaquismo">
{{registro.tabaquismo}}</textarea
      >
    </div>
    <div class="input etilismo">
      <label for="Etilismo">Etilismo</label>
      <textarea type="text" name="etilismo" id="Etilismo">
{{registro.etilismo}}</textarea
      >
    </div>
    <div class="input act_fis">
      <label for="act_fis">Actividad Fisica</label>
      <textarea type="text" name="act_fis" id="act_fis">
{{registro.actividad}}</textarea
      >
    </div>
    <div class="input">
      <label for="accesibilidad">Accesibilidad</label>
      <textarea type="text" name="accesibilidad" id="accesibilidad">
{{registro.accesibilidad}}</textarea
      >
    </div>
    <div class="input">
      <label for="pasatiempos">Pasatiempos</label>
      <textarea type="text" name="pasatiempos" id="pasatiempos">
{{registro.pasatiempos}}</textarea
      >
    </div>
    <div class="input">
      <label for="apnp_otros">Otros</label>
      <textarea type="text" name="apnp_otros" id="apnp_otros">
{{registro.otros}}</textarea
      >
    </div>
  </div>
  <h3>Antecedentes Personales Patologicos</h3>
  <div class="app">
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="dbt"
          name="dbt"
          {%
          if
          registro.dbt
          %}
          checked
          {%
          endif
          %}
        />
        <label for="dbt">DBT</label>
      </div>
      <textarea name="dbt_text" id="dbt_text">{{registro.dbt}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="hta"
          name="hta"
          {%
          if
          registro.hta
          %}
          checked
          {%
          endif
          %}
        />
        <label for="hta">HTA</label>
      </div>
      <textarea name="hta_text" id="hta_text">{{registro.hta}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cancer"
          name="cancer"
          {%
          if
          registro.cancer
          %}
          checked
          {%
          endif
          %}
        />
        <label for="cancer">Cancer</label>
      </div>
      <textarea name="cancer_text" id="cancer_text">
{{registro.cancer}}</textarea
      >
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="transf"
          name="transf"
          {%
          if
          registro.transf
          %}
          checked
          {%
          endif
          %}
        />
        <label for="transf">Transf.</label>
      </div>
      <textarea name="transf_text" id="transf_text">
{{registro.transf}}</textarea
      >
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cpt"
          name="cpt"
          {%
          if
          registro.cpt
          %}
          checked
          {%
          endif
          %}
        />
        <label for="cpt">CPT</label>
      </div>
      <textarea name="cpt_text" id="cpt_text">{{registro.cpt}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="alergia"
          name="alergia"
          {%
          if
          registro.alergia
          %}
          checked
          {%
          endif
          %}
        />
        <label for="alergia">Alergia</label>
      </div>
      <textarea name="alergia_text" id="alergia_text">
{{registro.alergia}}</textarea
      >
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="enfr"
          name="enfr"
          {%
          if
          registro.enfr
          %}
          checked
          {%
          endif
          %}
        />
        <label for="enfr">ENF.R.</label>
      </div>
      <textarea name="enfr_text" id="enfr_text">{{registro.enfr}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="fx"
          name="fx"
          {%
          if
          registro.fx
          %}
          checked
          {%
          endif
          %}
        />
        <label for="fx">FX.</label>
      </div>
      <textarea name="fx_text" id="fx_text">{{registro.fx}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="cx"
          name="cx"
          {%
          if
          registro.cx
          %}
          checked
          {%
          endif
          %}
        />
        <label for="cx">CX.</label>
      </div>
      <textarea name="cx_text" id="cx_text">{{registro.cx}}</textarea>
    </div>
    <div class="check">
      <div class="checkbox">
        <input
          type="checkbox"
          id="sv"
          name="sv"
          {%
          if
          registro.sv
          %}
          checked
          {%
          endif
          %}
        />
        <label for="sv">S.V.</label>
      </div>
      <textarea name="sv_text" id="sv_text">{{registro.sv}}</textarea>
    </div>
  </div>
  <h3>DX. En rehabilitacion</h3>
  <h4>Neurologico</h4>
  <div class="neuro">
    <div class="check">
      <input
        type="checkbox"
        name="reflejos"
        id="reflejos"
        {%
        if
        registro.reflejos
        %}
        checked
        {%
        endif
        %}
      />
      <label for="reflejos">Reflejos</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="sensibilidad"
        id="sensibilidad"
        {%
        if
        registro.sensibilidad
        %}
        checked
        {%
        endif
        %}
      />
      <label for="sensibilidad">Sensibilidad</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="lenguaje"
        id="lenguaje"
        {%
        if
        registro.lenguaje
        %}
        checked
        {%
        endif
        %}
      />
      <label for="lenguaje">Lenguaje</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="n_otros"
        id="n_otros"
        {%
        if
        registro.Notros
        %}
        checked
        {%
        endif
        %}
      />
      <label for="n_otros">Otros</label>
      <textarea name="n_otros" id="n_otros">{{registro.Notros}}</textarea>
    </div>
  </div>
  <h4>Contractura muscular</h4>
  <div class="contractura">
    <label for="contractura">Sitio</label>
    <input
      autocomplete="off"
      type="text"
      name="contractura"
      id="contractura"
      value="{{registro.contractura}}"
    />
  </div>
  <h4>Marcha</h4>
  <div class="marcha">
    <div class="check">
      <input
        type="checkbox"
        name="libre"
        id="libre"
        {%
        if
        registro.libre
        %}
        checked
        {%
        endif
        %}
      />
      <label for="libre">Libre</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="claudicante"
        id="claudicante"
        {%
        if
        registro.claudicante
        %}
        checked
        {%
        endif
        %}
      />
      <label for="claudicante">Claudicante</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="ayuda"
        id="ayuda"
        {%
        if
        registro.Mayuda
        %}
        checked
        {%
        endif
        %}
      />
      <label for="ayuda">Con ayuda</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="espastica"
        id="espastica"
        {%
        if
        registro.espastica
        %}
        checked
        {%
        endif
        %}
      />
      <label for="espastica">Espastica</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="ataxica"
        id="ataxica"
        {%
        if
        registro.ataxica
        %}
        checked
        {%
        endif
        %}
      />
      <label for="ataxica">Ataxica</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="libre"
        id="libre"
        {%
        if
        registro.Motra
        %}
        checked
        {%
        endif
        %}
      />
      <label for="libre">Otro</label>
      <textarea name="marcha_otro" id="marcha_otro">
{{registro.Motra}}</textarea
      >
    </div>
  </div>
  <h4>Traslados</h4>
  <h5>Val. Inicial</h5>
  <div class="vi">
    <div class="check">
      <input
        type="checkbox"
        name="vi_independiente"
        id="vi_independiente"
        {%
        if
        registro.Iindependiente
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vi_independiente">Independiente</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vi_ayuda"
        id="vi_ayuda"
        {%
        if
        registro.Iayuda
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vi_ayuda">Con ayuda</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vi_silla"
        id="vi_silla"
        {%
        if
        registro.Isilla
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vi_silla">Silla de ruedas</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vi_camilla"
        id="vi_camilla"
        {%
        if
        registro.Icamilla
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vi_camilla">Camilla</label>
    </div>
  </div>
  <h5>Val. Final</h5>
  <div class="vf">
    <div class="check">
      <input
        type="checkbox"
        name="vf_independiente"
        id="vf_independiente"
        {%
        if
        registro.Findependiente
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vf_independiente">Independiente</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vf_ayuda"
        id="vf_ayuda"
        {%
        if
        registro.Fayuda
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vf_ayuda">Con ayuda</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vf_silla"
        id="vf_silla"
        {%
        if
        registro.Fsilla
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vf_silla">Silla de ruedas</label>
    </div>
    <div class="check">
      <input
        type="checkbox"
        name="vf_camilla"
        id="vf_camilla"
        {%
        if
        registro.Fcamilla
        %}
        checked
        {%
        endif
        %}
      />
      <label for="vf_camilla">Camilla</label>
    </div>
  </div>
  <h4>Dolor</h4>
  <div class="dolor">
    <div class="input">
      <label for="d_sitio">Sitio</label>
      <textarea name="d_sitio" id="d_sitio">{{registro.Dsitio}}</textarea>
    </div>
    <div class="input">
      <label for="irradiacion">Irradiacion</label>
      <textarea name="irradiacion" id="irradiacion">
{{registro.irradiacion}}</textarea
      >
    </div>
    <div class="input">
      <label for="inicial">Inicial</label>
      <textarea name="inicial" id="inicial">{{registro.Dinicial}}</textarea>
    </div>
    <div class="input">
      <label for="final">Final</label>
      <textarea name="final" id="final">{{registro.Dfinal}}</textarea>
    </div>
    <div class="input">
      <label for="d_observaciones">Observaciones</label>
      <textarea name="d_observaciones" id="d_observaciones">
{{registro.Dobservaciones}}</textarea
      >
    </div>
    <img src="{{url_for('static',filename='assets/img.png')}}" />
  </div>
  <div class="ultimos">
    <h3>Antecedentes en fisioterapia</h3>
    <textarea name="antecedentes" id="antecedentes">
{{registro.antecedentes}}</textarea
    >
    <h3>Motivo de la consulta</h3>
    <textarea name="motivo" id="motivo">{{registro.motivo}}</textarea>
    <h3>Resumen del relato del paciente</h3>
    <textarea name="relato" id="relato">{{registro.resumen}}</textarea>
    <h3>Diagnostico fisioterapeutico</h3>
    <textarea name="diagnostico" id="diagnostico">
{{registro.diagnostico}}</textarea
    >
    <h3>Observaciones</h3>
    <textarea name="observaciones" id="observaciones">
{{registro.observaciones}}</textarea
    >
    <h3>Plan de tratamiento</h3>
    <textarea name="plan" id="plan">{{registro.plan}}</textarea>
    <h3>Apendices</h3>
    <textarea name="apendices" id="apendices">{{registro.apendices}}</textarea>
  </div>
  <div class="acciones">
    <a href="{{url_for('reg.home')}}">Cancelar</a>
    <button type="submit">Guardar</button>
  </div>
</form>
{% endblock content %}
