{% extends "base.html" %} {% block title %}Pacientes{% endblock title %} {%
block content %}
<div class="nav">
  <input class="search" type="text" placeholder="Buscar" />
  <a href="{{url_for('reg.nuevo')}}" class="button new">Nuevo</a>
</div>
<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  {% for registro in registros %}
  <tr>
    <td>{{registro.datos_nombre}}</td>
    <td>{{registro.datos_fecha}}</td>
    <td class='actions'>
      <a class="button edit" href="{{url_for('reg.edit', id=registro.id)}}"
        >Editar</a>
      <button class="delete" onclick="delete_card({{registro.id}})">Eliminar</button>
    </td>
  </tr>
  {% endfor %}
</table>
<div class="alert-box">
  <div class="card">
    <div class="title">
      <b>Eliminar registro</b>
    </div>
    <div class="content">
      Esta accion no se podra deshacer. <br>
      Desea continuar?
    </div>
    <div class="actions">
      <button class='btn-cancel' onclick="close_card()">Cancel</button>
      <button class="delete" onclick='delete_()'>Aceptar</button>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/script.js')}}">
</script>
{% endblock content %}
